@keyframes close {
  from {
    opacity: 1;
    width: 450px;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    width: 50px;
    transform: translateY(50vh);
  }
}

@keyframes small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  cursor: pointer;
  font-family: 'SF';
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border-radius: 10px;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.2s;
  animation: small 1s ease-in-out infinite;
}

.button:hover {
  color: #e38b70;
  background-color: #ffffffaa;
  backdrop-filter: saturate(-50%) blur(10px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom {
  position: absolute;
  bottom: 50px;
}

.commandline {
  display: flex;
  align-items: center;

  font-size: 14px;
}

.input {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: 'SF Mono';
  caret-color: #888;
  width: 100%;
}

.input:focus {
  outline: none;
}

.container {
  padding: 0 2rem;
}

.window {
  position: relative;
  background-color: #ffffffaa;
  backdrop-filter: saturate(-50%) blur(10px);
  border-radius: 10px;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  padding-top: 45px;
  width: 450px;
  height: 337px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.2s;
}

.expanded {
  width: 100%;
  height: 80vh;
}

.condensed {
  width: 450px;
  height: 337px;
}

.minimize {
  animation: close 0.5s ease;
}

.hidden {
  display: none;
}

.windowtoppane {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffeeeeaa;
  padding: 0 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.windowbody {
  padding: 0.25rem 0.5rem 25px 0.75rem;
  height: 100%;
  overflow-y: auto;
}

.dots {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 64px;
}

.empty {
  width: 64px;
  height: 1px;
}

.red {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: rgb(255, 83, 83);
  cursor: pointer;
}

.yellow {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: rgb(255, 213, 62);
  cursor: pointer;
}

.green {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: rgb(61, 203, 94);
  cursor: pointer;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.text {
  font-size: 14px;
  font-family: 'SF Mono', 'Courier New';
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: -0.5px;
  margin: 0.1rem;
}

.textlink {
  font-family: 'SF Mono Bold', 'Courier New';
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  @keyframes close {
    from {
      opacity: 1;
      width: 100%;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      width: 50px;
      transform: translateY(50vh);
    }
  }

  .main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .commandline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .input {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
    font-family: 'SF Mono', 'Courier New';
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.5px;
    margin: 0.1rem;
  }

  .red {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(255, 83, 83);
    cursor: pointer;
  }

  .yellow {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(255, 213, 62);
    cursor: pointer;
  }

  .green {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(61, 203, 94);
    cursor: pointer;
  }

  .window {
    width: 100%;
    padding-top: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
